<!DOCTYPE html>
<!-- main layout page for ratings pages-->
<html>
    <head>
        <title>Move Ratings</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" media="screen" type="text/css">
    </head>
    <body>
    	<a href = "{{ url_for('login') }}">Login</a> <br>
		<a href = "{{ url_for('logout') }}">Logout</a><br>
		<a href = "{{ url_for('create_user') }}">Create User</a><br>

		{% for message in get_flashed_messages() %}	
	       <div class=flash>{{ message }}</div> 
		{% endfor %}
		<div class="container">
        	{% block body %} {% endblock %}    
    	</div>
    	<script src="http://code.jquery.com/jquery.js"></script>
    	<script src="js/bootstrap.min.js"></script>
       
    </body>
</html>