<!--Index Page for Movie Ratings -->
{% extends "layout.html" %}

{% block body %}

<h1>Hello {{user_email}}</h1>			
This is a list of users. Click on one to see their ratings.

{% for user in user_list %}
<h2><a href = "{{ url_for('view_ratings', id = user.id) }}"> {{ user.id }} </a>, age {{ user.age }} has {{ user.ratings|length }} ratings</h2>
<h1></h1>

{% endfor %}

<a href = "{{ url_for('login') }}">Login</a> <br>
<a href = "{{ url_for('logout') }}">Logout</a><br>
<a href = "{{ url_for('create_user') }}">Create User</a><br>

{% endblock %}
